In [1]:
%load_ext autoreload
%autoreload 2

In [138]:
import pandas as pd
import numpy as np
from WorkforceSentimentMonitoring.data import get_data, merge, holdout, drop_wrong_language

## Import & Clean Data

In [3]:
submission, train, test = get_data()
df = merge(submission, train, test)
df = drop_wrong_language(df, 'review')
target = [
    "work-balance",
    "culture-values",
    "career-opportunities",
    "comp-benefits",
    "senior-mgmt",
    "overall",
]

  0%|          | 0/10 [00:00<?, ?it/s]

Identifying entries in other languages...

100%|██████████| 10/10 [08:51<00:00, 53.17s/it]

Drop 434 entries? [y] / n

Dropping 434 entries...

### Deal with Contractions

In [9]:
import contractions

In [13]:
df.review[1]

'Moving at the speed of light, burn out is inevitable 1) Food, food, food. 15+ cafes on main campus (MTV) alone. Mini-kitchens, snacks, drinks, free breakfast/lunch/dinner, all day, errr\'day.  2) Benefits/perks. Free 24:7 gym access (on MTV campus). Free (self service) laundry (washer/dryer) available. Bowling alley. Volley ball pit. Custom-built and exclusive employee use only outdoor sport park (MTV). Free health/fitness assessments. Dog-friendly. Etc. etc. etc.  3) Compensation. In ~2010 or 2011, Google updated its compensation packages so that they were more competitive.  4) For the size of the organization (30K+), it has remained relatively innovative, nimble, and fast-paced and open with communication but, that is definitely changing (for the worse).  5) With so many departments, focus areas, and products, *in theory*, you should have plenty of opportunity to grow your career (horizontally or vertically). In practice, not true.  6) You get to work with some of the brightest, most innovative and hard-working/diligent minds in the industry. There\'s a "con" to that, too (see below). 1) Work/life balance. What balance? All those perks and benefits are an illusion. They keep you at work and they help you to be more productive. I\'ve never met anybody at Google who actually time off on weekends or on vacations. You may not hear management say, "You have to work on weekends/vacations" but, they set the culture by doing so - and it inevitably trickles down. I don\'t know if Google inadvertently hires the work-a-holics or if they create work-a-holics in us. Regardless, I have seen way too many of the following: marriages fall apart, colleagues choosing work and projects over family, colleagues getting physically sick and ill because of stress, colleagues crying while at work because of the stress, colleagues shooting out emails at midnight, 1am, 2am, 3am. It is absolutely ridiculous and something needs to change.  2) Poor management. I think the issue is that, a majority of people love Google because they get to work on interesting technical problems - and these are the people that see little value in learning how to develop emotional intelligence. Perhaps they enjoy technical problems because people are too "difficult." People are promoted into management positions - not because they actually know how to lead/manage, but because they happen to be smart or because there is no other path to grow into. So there is a layer of intelligent individuals who are horrible managers and leaders. Yet, there is no value system to actually do anything about that because "emotional intelligence" or "adaptive leadership" are not taken seriously.  3) Jerks. Sure, there are a lot of brilliant people - but, sadly, there are also a lot of jerks (and, many times, they are one and the same). Years ago, that wasn\'t the case. I don\'t know if the pool of candidates is getting smaller, or maybe all the folks with great personalities cashed out and left, or maybe people are getting burned out and it\'s wearing on their personality and patience. I\'ve heard stories of managers straight-up cussing out their employees and intimidating/scaring their employees into compliance.  4) It\'s a giant company now and, inevitably, it has become slower moving and is now layered with process and bureaucracy. So many political battles, empire building, territory grabbing. Google says, "Don\'t be evil." But, that practice doesn\'t seem to be put into place when it comes to internal practices. :( 1) Don\'t dismiss emotional intelligence and adaptive leadership. They\'re not just catch phases. You need great managers and leaders in order to build great companies and develop great employees. The people who may be brilliant at solving technical issues may not be (and are most often, not) the best candidates for management.  2) Do something about that work-ife balance. Don\'t just have a bunch of pow-wows and tech talks and discussions about it. Leadership should actually model it. Consider re-evaluating how work is done, what processes are in place that are inefficient and ineffective and need to be updated or removed?  3) Don\'t forget that there is already a pool of incredibly talented people within the company. If career development is really a goal at Google, then do it. Don\'t just hire from the outside. Take the time to help your employees develop their careers - then maybe you won\'t lose some of the great ones, and maybe you\'ll have prevent some of that burn out and disillusionment.'

In [16]:
def expand_contractions(text_series):
    return text_series.apply(contractions.fix)

In [17]:
df['review'] = expand_contractions(df['review'])

In [20]:
df.review[1]

'Moving at the speed of light, burn out is inevitable 1) Food, food, food. 15+ cafes on main campus (MTV) alone. Mini-kitchens, snacks, drinks, free breakfast/lunch/dinner, all day, errr\'day.  2) Benefits/perks. Free 24:7 gym access (on MTV campus). Free (self service) laundry (washer/dryer) available. Bowling alley. Volley ball pit. Custom-built and exclusive employee use only outdoor sport park (MTV). Free health/fitness assessments. Dog-friendly. Etc. etc. etc.  3) Compensation. In ~2010 or 2011, Google updated its compensation packages so that they were more competitive.  4) For the size of the organization (30K+), it has remained relatively innovative, nimble, and fast-paced and open with communication but, that is definitely changing (for the worse).  5) With so many departments, focus areas, and products, *in theory*, you should have plenty of opportunity to grow your career (horizontally or vertically). In practice, not true.  6) You get to work with some of the brightest, most innovative and hard-working/diligent minds in the industry. there is a "con" to that, too (see below). 1) Work/life balance. What balance? All those perks and benefits are an illusion. They keep you at work and they help you to be more productive. I have never met anybody at Google who actually time off on weekends or on vacations. You may not hear management say, "You have to work on weekends/vacations" but, they set the culture by doing so - and it inevitably trickles down. I do not know if Google inadvertently hires the work-a-holics or if they create work-a-holics in us. Regardless, I have seen way too many of the following: marriages fall apart, colleagues choosing work and projects over family, colleagues getting physically sick and ill because of stress, colleagues crying while at work because of the stress, colleagues shooting out emails at midnight, 1am, 2am, 3am. It is absolutely ridiculous and something needs to change.  2) Poor management. I think the issue is that, a majority of people love Google because they get to work on interesting technical problems - and these are the people that see little value in learning how to develop emotional intelligence. Perhaps they enjoy technical problems because people are too "difficult." People are promoted into management positions - not because they actually know how to lead/manage, but because they happen to be smart or because there is no other path to grow into. So there is a layer of intelligent individuals who are horrible managers and leaders. Yet, there is no value system to actually do anything about that because "emotional intelligence" or "adaptive leadership" are not taken seriously.  3) Jerks. Sure, there are a lot of brilliant people - but, sadly, there are also a lot of jerks (and, many times, they are one and the same). Years ago, that was not the case. I do not know if the pool of candidates is getting smaller, or maybe all the folks with great personalities cashed out and left, or maybe people are getting burned out and it is wearing on their personality and patience. I have heard stories of managers straight-up cussing out their employees and intimidating/scaring their employees into compliance.  4) it is a giant company now and, inevitably, it has become slower moving and is now layered with process and bureaucracy. So many political battles, empire building, territory grabbing. Google says, "do not be evil." But, that practice does not seem to be put into place when it comes to internal practices. :( 1) do not dismiss emotional intelligence and adaptive leadership. they are not just catch phases. You need great managers and leaders in order to build great companies and develop great employees. The people who may be brilliant at solving technical issues may not be (and are most often, not) the best candidates for management.  2) Do something about that work-ife balance. do not just have a bunch of pow-wows and tech talks and discussions about it. Leadership should actually model it. Consider re-evaluating how work is done, what processes are in place that are inefficient and ineffective and need to be updated or removed?  3) do not forget that there is already a pool of incredibly talented people within the company. If career development is really a goal at Google, then do it. do not just hire from the outside. Take the time to help your employees develop their careers - then maybe you will not lose some of the great ones, and maybe you will have prevent some of that burn out and disillusionment.'

### Preprocess

In [30]:
# Define X and y
X = pd.DataFrame(df.review)
y = df[target].copy()

In [31]:
from WorkforceSentimentMonitoring.encoders import Preprocessor

In [32]:
X

                                                  review
0      Best Company to work for People are smart and ...
1      Moving at the speed of light, burn out is inev...
2      Great balance between big-company security and...
3      The best place I have worked and also the most...
4      Execellent for engineers Impact driven. Best t...
...                                                  ...
52376  great place to grow! Great health benefits. Ma...
52377  An ocean of opportunities diverse set of peopl...
52378  Tech Gaint Equip its employees wid huge salari...
52379  Terrible They had great health benefits (no lo...
52380  Microsoft is a good place to work Very structu...

[52381 rows x 1 columns]

In [33]:
preprocessor = Preprocessor()
preprocessor.fit_transform(X)

                                                  review
0      best company to work for people are smart and ...
1      moving at the speed of light  burn out is inev...
2      great balance between big company security and...
3      the best place i have worked and also the most...
4      execellent for engineer impact driven  best te...
...                                                  ...
52376  great place to grow  great health benefit  man...
52377  an ocean of opportunity diverse set of people ...
52378  tech gaint equip it employee wid huge salary  ...
52379  terrible they had great health benefit  no lon...
52380  microsoft is a good place to work very structu...

[52381 rows x 1 columns]

In [53]:
X['review'] = X.review.str.replace('\s+', ' ')

In [72]:
X['review'] = X.review.str.strip()

## Import Lexicon

In [35]:
lexicon = pd.read_csv('../lexicon/EmotionIntensityLexicon.txt',sep='\t')

In [36]:
lexicon.emotion.unique()

array(['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness',
       'surprise', 'trust'], dtype=object)

In [37]:
lexicon

           word emotion  emotion-intensity-score
0      outraged   anger                    0.964
1     brutality   anger                    0.959
2        hatred   anger                    0.953
3       hateful   anger                    0.940
4     terrorize   anger                    0.939
...         ...     ...                      ...
9916   fugitive   trust                    0.141
9917    divorce   trust                    0.133
9918   mistakes   trust                    0.133
9919       bait   trust                    0.133
9920  scoundrel   trust                    0.117

[9921 rows x 3 columns]

## Bag of Words

In [74]:
tmp = X.review[1].split(' ')

In [75]:
tmp = [word for word in tmp if word]

In [76]:
from sklearn.feature_extraction.text import CountVectorizer

In [79]:
from WorkforceSentimentMonitoring.preprocessing import remove_stopwords

In [83]:
X.review = X.review.apply(remove_stopwords)

In [88]:
X['length'] = X.review.str.split(' ').apply(len)

In [92]:
vectorizer = CountVectorizer()

In [93]:
X_vectorized = vectorizer.fit_transform(X.review)

In [95]:
X_vectorized.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [99]:
X_vectorized = pd.DataFrame(X_vectorized.toarray(), columns=vectorizer.get_feature_names())

In [107]:
emo_words = [word for word in lexicon.word if word in X_vectorized.columns]

In [108]:
emo_words

['outraged',
 'brutality',
 'hatred',
 'hateful',
 'furious',
 'enraged',
 'furiously',
 'execution',
 'angered',
 'rage',
 'loathe',
 'hostile',
 'murder',
 'pissed',
 'explosive',
 'vengeful',
 'ferocious',
 'killing',
 'combative',
 'vengeance',
 'wrath',
 'torment',
 'vicious',
 'threatening',
 'abhorrent',
 'fighting',
 'attacking',
 'bloodshed',
 'assault',
 'assassination',
 'strangle',
 'explode',
 'malicious',
 'hostility',
 'attack',
 'hell',
 'murderous',
 'malice',
 'beating',
 'outrage',
 'irate',
 'tumultuous',
 'destroying',
 'violent',
 'stab',
 'slaughter',
 'abomination',
 'obliterate',
 'belligerent',
 'prick',
 'cruelty',
 'horrid',
 'rabid',
 'torture',
 'hate',
 'hating',
 'tyrannical',
 'demonic',
 'despicable',
 'angry',
 'livid',
 'madman',
 'vindictive',
 'terrorist',
 'venomous',
 'threaten',
 'savage',
 'atrocity',
 'fierce',
 'abuse',
 'tyrant',
 'anger',
 'slam',
 'punching',
 'punched',
 'destructive',
 'ruthless',
 'slap',
 'destroyed',
 'retaliatory',
 'yelling',
 'riot',
 'punishing',
 'diabolical',
 'clash',
 'hellish',
 'bloody',
 'loath',
 'sinister',
 'treacherous',
 'accusing',
 'retaliate',
 'horrific',
 'scorn',
 'bomb',
 'deplorable',
 'resent',
 'firestorm',
 'smash',
 'rant',
 'cruel',
 'outburst',
 'aggravating',
 'douchebags',
 'offend',
 'horror',
 'despise',
 'vulgarity',
 'violence',
 'horrible',
 'screaming',
 'threat',
 'revenge',
 'crushing',
 'damn',
 'catastrophe',
 'argue',
 'thrash',
 'warfare',
 'altercation',
 'mutiny',
 'sabotage',
 'strike',
 'disaster',
 'disastrous',
 'disdain',
 'choke',
 'devil',
 'scream',
 'spiteful',
 'scorching',
 'slay',
 'brutal',
 'aggravates',
 'criminal',
 'punch',
 'blasphemous',
 'battled',
 'fatal',
 'hurting',
 'deranged',
 'evil',
 'irritated',
 'atrocious',
 'intimidation',
 'persecution',
 'scolding',
 'aggression',
 'armed',
 'poison',
 'battle',
 'disgruntled',
 'insidious',
 'resentment',
 'mad',
 'bully',
 'temper',
 'curse',
 'domination',
 'terrible',
 'disparage',
 'volatility',
 'eradicate',
 'tantrum',
 'aggressively',
 'irritates',
 'dictatorship',
 'profanity',
 'wreak',
 'contempt',
 'crime',
 'poisonous',
 'nasty',
 'aggravation',
 'condemnation',
 'egregious',
 'shove',
 'shoot',
 'shot',
 'crushed',
 'corrupting',
 'harmful',
 'maniac',
 'irritable',
 'shooting',
 'shout',
 'eruption',
 'cutthroat',
 'kick',
 'hit',
 'fight',
 'enemy',
 'combat',
 'aggressive',
 'punished',
 'yell',
 'harass',
 'gore',
 'destruction',
 'incense',
 'grudge',
 'cranky',
 'reprisal',
 'slave',
 'offended',
 'clashing',
 'insulting',
 'spank',
 'animosity',
 'executioner',
 'doomsday',
 'bombard',
 'feud',
 'accused',
 'arson',
 'shackle',
 'spat',
 'havoc',
 'inexcusable',
 'reprimand',
 'poisoned',
 'kicking',
 'wound',
 'batter',
 'frustrated',
 'hanging',
 'disgusting',
 'suicidal',
 'anarchy',
 'glaring',
 'cheat',
 'agitated',
 'scourge',
 'suffocation',
 'cursing',
 'harassing',
 'injure',
 'betray',
 'strife',
 'jerk',
 'retaliation',
 'fiend',
 'theft',
 'insane',
 'irritate',
 'convict',
 'cussed',
 'turmoil',
 'smack',
 'retribution',
 'adverse',
 'battery',
 'collision',
 'injurious',
 'slavery',
 'gang',
 'irritability',
 'intolerable',
 'sickening',
 'ranting',
 'irks',
 'irritating',
 'discrimination',
 'antagonistic',
 'revolution',
 'blast',
 'frustrate',
 'tension',
 'manipulation',
 'hurtful',
 'insult',
 'bigot',
 'disgust',
 'spite',
 'intrusive',
 'slur',
 'bitterness',
 'miserable',
 'puncture',
 'invasion',
 'inferno',
 'casualty',
 'storming',
 'forcibly',
 'overpowering',
 'immoral',
 'guilty',
 'raving',
 'screwed',
 'scare',
 'jealousy',
 'confront',
 'brute',
 'throttle',
 'provoking',
 'coup',
 'damage',
 'contentious',
 'bickering',
 'butcher',
 'lash',
 'conflict',
 'blaze',
 'defiant',
 'wreck',
 'cancer',
 'frustration',
 'standoff',
 'gun',
 'pernicious',
 'discord',
 'condescension',
 'discriminate',
 'chaotic',
 'disturbance',
 'monstrosity',
 'oppressive',
 'scandalous',
 'cursed',
 'death',
 'shit',
 'slash',
 'unfair',
 'disparaging',
 'escalate',
 'dreadful',
 'derogatory',
 'beast',
 'malign',
 'traitor',
 'invade',
 'glare',
 'deceived',
 'torpedo',
 'rave',
 'hurt',
 'grating',
 'thief',
 'uncontrollable',
 'devastating',
 'cross',
 'fits',
 'jeopardize',
 'disturbed',
 'grab',
 'ticked',
 'grievance',
 'blackmail',
 'offensive',
 'decry',
 'sin',
 'ire',
 'deceive',
 'punishment',
 'violation',
 'disgraceful',
 'frustrates',
 'overbearing',
 'misery',
 'rebel',
 'disparity',
 'stolen',
 'foul',
 'adversary',
 'ruined',
 'menace',
 'tackle',
 'humiliate',
 'prejudice',
 'resentful',
 'heated',
 'wanker',
 'callous',
 'argument',
 'sting',
 'grumble',
 'robbery',
 'entangled',
 'resistance',
 'obstructive',
 'mob',
 'ridicule',
 'prejudicial',
 'unbridled',
 'communism',
 'uprising',
 'dispute',
 'reckless',
 'confinement',
 'whip',
 'belittle',
 'allegation',
 'offender',
 'tackled',
 'dictatorial',
 'unjust',
 'hassle',
 'bigoted',
 'dissonance',
 'prison',
 'hot',
 'suicide',
 'annoy',
 'venting',
 'divorce',
 'dishonest',
 'prisoner',
 'duress',
 'idiotic',
 'criticize',
 'disrespectful',
 'distrust',
 'unkind',
 'roar',
 'poaching',
 'unforgiving',
 'pow',
 'unleash',
 'scold',
 'chaos',
 'frustrating',
 'coercion',
 'grump',
 'victimized',
 'tussle',
 'bane',
 'accusation',
 'enmity',
 'banish',
 'storm',
 'unruly',
 'crazy',
 'malpractice',
 'frenzied',
 'scoff',
 'possessed',
 'delusional',
 'brunt',
 'confined',
 'injustice',
 'shun',
 'defy',
 'anguish',
 'antithesis',
 'fear',
 'bout',
 'banished',
 'reject',
 'dominate',
 'patronising',
 'disrupting',
 'ordeal',
 'toughness',
 'madness',
 'oppress',
 'avarice',
 'incest',
 'abolish',
 'claw',
 'complaint',
 'infraction',
 'pervert',
 'cutting',
 'usurp',
 'inhuman',
 'disservice',
 'annoyed',
 'alienate',
 'demand',
 'oust',
 'rivalry',
 'obnoxious',
 'restrain',
 'blame',
 'deceit',
 'strained',
 'penalty',
 'opposed',
 'disgrace',
 'imprisoned',
 'sucker',
 'suspicious',
 'upheaval',
 'renounce',
 'turbulence',
 'pound',
 'ungrateful',
 'battalion',
 'jealous',
 'hostage',
 'adversity',
 'ram',
 'annoying',
 'gall',
 'friction',
 'objection',
 'offense',
 'complain',
 'injury',
 'disruption',
 'steal',
 'stifled',
 'selfish',
 'dislike',
 'intolerance',
 'thump',
 'selfishness',
 'distress',
 'huff',
 'subversive',
 'opposition',
 'insanity',
 'mug',
 'agony',
 'arrogant',
 'vent',
 'sux',
 'elimination',
 'haughty',
 'troublesome',
 'mislead',
 'constraint',
 'dying',
 'clamor',
 'flagrant',
 'illicit',
 'busted',
 'veto',
 'idiocy',
 'crabby',
 'grated',
 'suppress',
 'bad',
 'disagreeing',
 'struggle',
 'despotism',
 'intense',
 'displeased',
 'unlawful',
 'wrongly',
 'wrongful',
 'foe',
 'wasted',
 'aversion',
 'punitive',
 'upset',
 'deny',
 'stupidity',
 'worthless',
 'abandonment',
 'irritation',
 'segregate',
 'oblivion',
 'payback',
 'collusion',
 'rob',
 'overrun',
 'rejection',
 'incredulous',
 'martial',
 'painful',
 'defense',
 'enforce',
 'fuss',
 'commotion',
 'powerful',
 'fraudulent',
 'greed',
 'discontent',
 'unsympathetic',
 'annoyance',
 'bang',
 'penetration',
 'scar',
 'misrepresented',
 'snubbed',
 'sarcasm',
 'cracked',
 'blatant',
 'force',
 'perverse',
 'wring',
 'grim',
 'surly',
 'moody',
 'hunting',
 'supremacy',
 'compulsion',
 'reproach',
 'inept',
 'blockade',
 'disappoint',
 'sham',
 'awful',
 'contradict',
 'sneak',
 'lying',
 'badger',
 'forsaken',
 'inequality',
 'epidemic',
 'onerous',
 'wrongdoing',
 'nuisance',
 'unthinkable',
 'rail',
 'cacophony',
 'delusion',
 'affront',
 'traumatic',
 'annoys',
 'watchout',
 'frenetic',
 'confiscate',
 'disrespect',
 'illegal',
 'sue',
 'actionable',
 'unfriendly',
 'boxing',
 'keyed',
 'fraud',
 'nag',
 'recklessness',
 'dissolution',
 'earthquake',
 'rigged',
 'disagree',
 'lawsuit',
 'despair',
 'disused',
 'sore',
 'touchy',
 'sizzle',
 'coerce',
 'difficulty',
 'concussion',
 'pitfall',
 'disillusionment',
 'faulty',
 'infantile',
 'inhibit',
 'nepotism',
 'skewed',
 'bark',
 'warrior',
 'disapprove',
 'unhappy',
 'retarded',
 'challenge',
 'belt',
 'aftermath',
 'cad',
 'paucity',
 'opinionated',
 'incompetence',
 'broken',
 'restriction',
 'controversial',
 'loudness',
 'disliked',
 'sectarian',
 'interrupting',
 'fussy',
 'misbehavior',
 'brat',
 'remove',
 'scarcity',
 'losing',
 'lie',
 'defect',
 'disappointed',
 'untrustworthy',
 'stigma',
 'hardened',
 'disagreement',
 'bias',
 'unreliable',
 'disclaim',
 'stripped',
 'unsettled',
 'misleading',
 'pirate',
 'shaky',
 'antisocial',
 'shoddy',
 'anxiety',
 'bothering',
 'stingy',
 'deterioration',
 'disease',
 'meddle',
 'infamous',
 'averse',
 'row',
 'illegitimate',
 'ill',
 'interrupt',
 'hulk',
 'inconsiderate',
 'opponent',
 'scapegoat',
 'prohibited',
 'tighten',
 'disqualified',
 'grumpy',
 'resisting',
 'phony',
 'victim',
 'loss',
 'neglected',
 'inappropriate',
 'crunch',
 'criticism',
 'duplicity',
 'carelessness',
 'dismissal',
 'deflate',
 'chaff',
 'poverty',
 'boisterous',
 'thoughtless',
 'senseless',
 'hoax',
 'misuse',
 'wasteful',
 'depressed',
 'taxed',
 'stalemate',
 'paralysis',
 'displaced',
 'limited',
 'ridiculous',
 'react',
 'spine',
 'homeless',
 'sharpen',
 'barrier',
 'hoot',
 'myopia',
 'spam',
 'lagging',
 'incompatible',
 'unfairness',
 'buffering',
 'troll',
 'uncaring',
 'bogus',
 'immaturity',
 'shock',
 'feisty',
 'pry',
 'bear',
 'inconvenient',
 'latent',
 'fluctuation',
 'exaggerate',
 'lose',
 'stone',
 'patter',
 'soldier',
 'tease',
 'incompetent',
 'indoctrination',
 'tripping',
 'falsehood',
 'nonsense',
 'socialist',
 'rocket',
 'noisy',
 'notoriety',
 'complicate',
 'untrue',
 'cane',
 'skid',
 'mastery',
 'lawyer',
 'vampire',
 'obstacle',
 'ringer',
 'detract',
 'witch',
 'hunger',
 'shell',
 'recession',
 'politics',
 'lava',
 'failing',
 'undesirable',
 'copycat',
 'resign',
 'versus',
 'darkness',
 'soaked',
 'unfulfilled',
 'abandoned',
 'owing',
 'unattainable',
 'bankruptcy',
 'misconception',
 'warden',
 'whiny',
 'tool',
 'confusion',
 'unhelpful',
 'compress',
 'nosey',
 'overpriced',
 'harry',
 'shortage',
 'possession',
 'desert',
 'unlucky',
 'unpaid',
 'powerless',
 'backbone',
 'sentence',
 'inefficient',
 'court',
 'endless',
 'distracted',
 'delay',
 'misunderstanding',
 'excite',
 'lightning',
 'preclude',
 'incase',
 'insecure',
 'mistress',
 'rating',
 'pare',
 'insist',
 'distracting',
 'willful',
 'deserve',
 'treat',
 'insists',
 'gibberish',
 'mighty',
 'fee',
 'fleece',
 'indecisive',
 'misplace',
 'yelp',
 'bargaining',
 'mule',
 'unequal',
 'insignificant',
 'hamstring',
 'indifference',
 'coop',
 'attorney',
 'uncertain',
 'involvement',
 'underpaid',
 'pretending',
 'bee',
 'campaigning',
 'feeling',
 'legalized',
 'caution',
 'sterling',
 'subsidy',
 'bummer',
 'repay',
 'blemish',
 'noob',
 'honk',
 'wireless',
 'competitive',
 'reversal',
 'elbow',
 'instinctive',
 'chant',
 'lonely',
 'tolerate',
 'management',
 'advocacy',
 'moral',
 'honest',
 'forgetful',
 'liquor',
 'money',
 'hood',
 'curriculum',
 'smell',
 'elf',
 'playful',
 'opera',
 'trumpet',
 'nurture',
 'counsellor',
 'ribbon',
 'vote',
 'youth',
 'cash',
 'dame',
 'buffet',
 'celebrity',
 'musical',
 'tree',
 'excited',
 'anticipation',
 'excitement',
 'anticipate',
 'eagerness',
 'exciting',
 'expectant',
 'thrilling',
 'hope',
 'quest',
 'countdown',
 'start',
 'adventure',
 'eager',
 'excite',
 'expect',
 'prophecy',
 'announcement',
 'birth',
 'urgent',
 'expecting',
 'expectancy',
 'prospect',
 'reunion',
 'aspire',
 'voyage',
 'mystery',
 'journey',
 'kiss',
 'yearning',
 'enthusiasm',
 'suspense',
 'thrill',
 'urgency',
 'frantic',
 'prospective',
 'lottery',
 'progress',
 'hopeful',
 'destination',
 'arrival',
 'achievement',
 'hurry',
 'advance',
 'explore',
 'readiness',
 'vacation',
 'expectation',
 'prediction',
 'sex',
 'approaching',
 'ecstatic',
 'allure',
 'roulette',
 'honeymoon',
 'uprising',
 'wishful',
 'celebrating',
 'holiday',
 'orgasm',
 'invitation',
 'impending',
 'winning',
 'craving',
 'rescue',
 'triumph',
 'waiting',
 'gain',
 'aspiring',
 'celebration',
 'jackpot',
 'reward',
 'marriage',
 'victory',
 'fortune',
 'strive',
 'aspiration',
 'inheritance',
 'opportunity',
 'delivery',
 'treasure',
 'tomorrow',
 'crowning',
 'intrigue',
 'rising',
 'receiving',
 'celebrated',
 'launch',
 'engaged',
 'possibility',
 'spectacular',
 'happiness',
 'revolution',
 'award',
 'anxious',
 'hype',
 'await',
 'curious',
 'vision',
 ...]

In [109]:
X_vectorized[emo_words]

,outraged,brutality,hatred,hateful,furious,enraged,furiously,execution,angered,rage,...,deny,mislead,unaccountable,unreliable,addict,falsehood,thang,divorce,mistakes,bait
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52376,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52377,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52378,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52379,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [110]:
X

                                                  review  length
0      best company work people smart friendly bureau...       9
1      moving speed light burn inevitable food food f...     389
2      great balance big company security fun fast mo...     440
3      best place worked also demanding find well reg...     387
4      execellent engineer impact driven best tech wo...      13
...                                                  ...     ...
52376  great place grow great health benefit many int...      27
52377  ocean opportunity diverse set people problem s...      32
52378  tech gaint equip employee wid huge salary high...      23
52379  terrible great health benefit longer told many...      57
52380  microsoft good place work structured organizat...      34

[52381 rows x 2 columns]

In [130]:
lexicon

           word emotion  emotion-intensity-score
0      outraged   anger                    0.964
1     brutality   anger                    0.959
2        hatred   anger                    0.953
3       hateful   anger                    0.940
4     terrorize   anger                    0.939
...         ...     ...                      ...
9916   fugitive   trust                    0.141
9917    divorce   trust                    0.133
9918   mistakes   trust                    0.133
9919       bait   trust                    0.133
9920  scoundrel   trust                    0.117

[9921 rows x 3 columns]

In [150]:
table = pd.pivot_table(lexicon, values='emotion-intensity-score', index='word', columns='emotion', fill_value=0)

In [151]:
table

emotion,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
word,,,,,,,,
aaaaaaah,0.000,0.00,0.0,0.344,0.000,0.000,0.000,0.000
aaaah,0.000,0.00,0.0,0.234,0.000,0.000,0.000,0.000
abacus,0.000,0.00,0.0,0.000,0.000,0.000,0.000,0.406
abandon,0.000,0.00,0.0,0.531,0.000,0.703,0.000,0.000
abandoned,0.222,0.00,0.0,0.534,0.000,0.828,0.000,0.000
...,...,...,...,...,...,...,...,...
zany,0.000,0.00,0.0,0.000,0.000,0.000,0.555,0.000
zeal,0.000,0.50,0.0,0.000,0.547,0.000,0.484,0.328
zealous,0.000,0.00,0.0,0.000,0.393,0.000,0.000,0.258
zen,0.000,0.00,0.0,0.000,0.515,0.000,0.000,0.000
zest,0.000,0.57,0.0,0.000,0.516,0.000,0.000,0.289

In [152]:
table.loc[]

                                                  review  length
0      best company work people smart friendly bureau...       9
1      moving speed light burn inevitable food food f...     389
2      great balance big company security fun fast mo...     440
3      best place worked also demanding find well reg...     387
4      execellent engineer impact driven best tech wo...      13
...                                                  ...     ...
52376  great place grow great health benefit many int...      27
52377  ocean opportunity diverse set people problem s...      32
52378  tech gaint equip employee wid huge salary high...      23
52379  terrible great health benefit longer told many...      57
52380  microsoft good place work structured organizat...      34

[52381 rows x 2 columns]

In [180]:
X_vectorized.loc[:, X_vectorized.loc[1] > 0]

absolutely    1
access        1
actually      4
adaptive      2
ago           1
             ..
working       1
worse         1
wow           1
year          1
yet           1
Name: 1, Length: 267, dtype: int64

In [181]:
lexicon

           word emotion  emotion-intensity-score
0      outraged   anger                    0.964
1     brutality   anger                    0.959
2        hatred   anger                    0.953
3       hateful   anger                    0.940
4     terrorize   anger                    0.939
...         ...     ...                      ...
9916   fugitive   trust                    0.141
9917    divorce   trust                    0.133
9918   mistakes   trust                    0.133
9919       bait   trust                    0.133
9920  scoundrel   trust                    0.117

[9921 rows x 3 columns]

In [183]:
select_row = lexicon[(lexicon.word == 'hatred') & (lexicon.emotion == 'anger')]

In [194]:
select_row.iloc[0]['emotion-intensity-score']

0.953

In [196]:
def get_emotion_score(row, lexicon, emotion):
    review = row['review']
    review_words = review.split(' ')
    score = 0
    for word in review_words:
        select_row = lexicon[(lexicon.word == word) & (lexicon.emotion == emotion)]
        if len(select_row) > 0:
            score += select_row.iloc[0]['emotion-intensity-score']
    return score / row['length']

In [203]:
tmp = X.sample(100)

In [206]:
emotions = lexicon.emotion.unique()

In [207]:
emotions

array(['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness',
       'surprise', 'trust'], dtype=object)

In [209]:
tmp

                                                  review  length
20316  welcome cloud operation came microsoft b ecomm...     110
6203   part time fulfillment great environment fun ha...      16
22493  director dynamic intense school many disciplin...      64
42244  time apple far great work environment best eve...      13
34057  great learning opportunity coupled unrealistic...      58
...                                                  ...     ...
24187  seti perk benefit great many manager understan...      15
21244  sdet good source info good class bad managemen...      18
39347  research intern computational resource great c...      17
42913  good good atmosphere wa good great yea like ad...       9
46915  good company intelligent coworkers good medica...      12

[100 rows x 2 columns]

In [212]:
from tqdm import tqdm

In [ ]:
for emotion in tqdm(emotions):
    tmp[f'{emotion}_score'] = tmp.apply(lambda x: get_emotion_score(x, lexicon, emotion), axis=1)

 12%|█▎        | 1/8 [00:13<01:32, 13.28s/it]

In [201]:
tmp['anger_score'] = tmp.apply(lambda x: get_emotion_score(x, lexicon, 'anger'), axis=1)

In [202]:
tmp

                                                  review  length  anger_score
51833  great place start career great place start car...      12     0.000000
20726  microsoft lot product brings ton missing mobil...      13     0.054769
23366  great place family oriented people microsoft ...      39     0.026846
12776  dublin best facebook office freedom awesome pe...      27     0.000000
27853  worst company ever worked nothing good working...      43     0.079721
...                                                  ...     ...          ...
21205  good place work fun environment different reta...      26     0.000000
12320  fabulous employer great pay awesome benefit ta...      34     0.003000
16425  specialist consistent coaching across level ne...      13     0.000000
8707   sr recruiter working smart people ability infl...      34     0.000000
39335  amazing place work forefront industry smart ca...      27     0.000000

[100 rows x 3 columns]