In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'/Users/celinegianduzzo/code/theresa-sporn/WorkforceSentimentMonitoring/notebooks'

In [2]:
from WorkforceSentimentMonitoring.data import get_data, merge
from WorkforceSentimentMonitoring.data import get_prepaired_data

/Users/celinegianduzzo/code/theresa-sporn/WorkforceSentimentMonitoring/WorkforceSentimentMonitoring/data.py:114: SyntaxWarning: "is" with a literal. Did you mean "=="?
  while not (user_confirmation is 'y' or user_confirmation is 'n'):
/Users/celinegianduzzo/code/theresa-sporn/WorkforceSentimentMonitoring/WorkforceSentimentMonitoring/data.py:114: SyntaxWarning: "is" with a literal. Did you mean "=="?
  while not (user_confirmation is 'y' or user_confirmation is 'n'):
/Users/celinegianduzzo/code/theresa-sporn/WorkforceSentimentMonitoring/WorkforceSentimentMonitoring/data.py:116: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if user_confirmation is 'y':

In [4]:
import os
path = os.path.join(os.getcwd(), '../raw_data')

data_prep = pd.read_csv(os.path.join(path, 'sample_submission.csv'))
data_prep.head(1)

   ID  overall
0   5        5

In [4]:
# get the dataframe
submission, train, test = get_data()
df = merge(submission, train, test)

In [5]:
df

,summary,positives,negatives,advice_to_mgmt,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall,review
0,Best Company to work for,People are smart and friendly,Bureaucracy is slowing things down,NaN,4,5,5,4,5,5,Best Company to work forPeople are smart and f...
1,"Moving at the speed of light, burn out is inev...","1) Food, food, food. 15+ cafes on main campus ...",1) Work/life balance. What balance? All those ...,1) Don't dismiss emotional intelligence and ad...,2,3,3,5,3,5,"Moving at the speed of light, burn out is inev..."
2,Great balance between big-company security and...,"* If you're a software engineer, you're among ...","* It *is* becoming larger, and with it comes g...",Keep the focus on the user. Everything else wi...,5,4,5,5,4,5,Great balance between big-company security and...
3,The best place I've worked and also the most d...,You can't find a more well-regarded company th...,I live in SF so the commute can take between 1...,Keep on NOT micromanaging - that is a huge ben...,2,5,5,4,5,4,The best place I've worked and also the most d...
4,Execellent for engineers,Impact driven. Best tech in the world.,Size matters. Engineers are a bit disconnected...,NaN,5,5,5,5,5,4,Execellent for engineersImpact driven. Best te...
...,...,...,...,...,...,...,...,...,...,...,...
29267,great place to grow!,Great health benefits. Many internal job oppor...,Red Tape. Tough to negotiate internal politics...,NaN,4,4,5,4,4,4,great place to grow!Great health benefits. Man...
29268,An ocean of opportunities,diverse set of people and problems they solve....,sometimes feels like a behemoth trying to get ...,align workgroups and incentives better to crea...,1,3,5,4,2,2,An ocean of opportunitiesdiverse set of people...
29269,Tech Gaint,Equip its employees wid huge salaries :D,High qualification required to join it,Good Going....try searching new and bigger tal...,3,3,3,3,3,3,Tech GaintEquip its employees wid huge salarie...
29270,Terrible,They had great health benefits (no longer im t...,* 14 hour days * no idea how to run a service ...,Learn to excel (no pun intended) and ignore mo...,1,1,1,3,1,1,TerribleThey had great health benefits (no lon...
29271,Microsoft is a good place to work,Very structured organization Market focused pr...,Growth is a little slow - Good structure impli...,NaN,4,4,4,3,4,4,Microsoft is a good place to workVery structur...

In [3]:
X_train, X_test, y_train, y_test = get_prepaired_data()

Reading data...
Merging data into a single DataFrame...
Dropping initial text columns...
Identifying entries in other languages...

100%|██████████| 10/10 [04:00<00:00, 24.08s/it]

Drop 438 entries? [y] / n
y
Dropping 438 entries...
Splitting train and test...
Encoding targets...
Done!

In [6]:
y_train

,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall
0,0,0,0,1,0,1
1,0,0,0,0,0,0
2,1,1,1,1,1,1
3,1,1,0,1,1,1
4,1,1,1,1,1,1
...,...,...,...,...,...,...
36658,1,1,1,1,1,1
36659,0,0,1,1,1,1
36660,1,1,1,0,1,1
36661,0,1,0,0,0,0
36662,1,1,1,1,1,0

In [8]:
pred_sample = y_train.sample(100).reset_index().drop('index', axis=1)
pred_sample

,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall
0,1,1,1,1,1,1
1,1,1,1,1,1,1
2,1,1,0,0,1,0
3,1,1,1,1,1,1
4,1,0,0,0,0,0
...,...,...,...,...,...,...
95,0,0,0,1,0,0
96,1,1,1,1,1,1
97,1,1,1,0,0,1
98,0,0,0,1,0,0
99,1,1,1,1,1,1

In [10]:
y_train

,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall
0,0,0,0,1,0,1
1,0,0,0,0,0,0
2,1,1,1,1,1,1
3,1,1,0,1,1,1
4,1,1,1,1,1,1
...,...,...,...,...,...,...
36658,1,1,1,1,1,1
36659,0,0,1,1,1,1
36660,1,1,1,0,1,1
36661,0,1,0,0,0,0
36662,1,1,1,1,1,0

In [12]:

y_train.to_csv('/Users/celinegianduzzo/code/theresa-sporn/WorkforceSentimentMonitoring/raw_data/predictions.csv')

In [30]:
cd raw_data

/Users/celinegianduzzo/code/theresa-sporn/WorkforceSentimentMonitoring/raw_data

In [13]:
# get the dataframe
submission, train, test = get_data()
df = merge(submission, train, test)

columns = ['work-balance', 'culture-values', 'career-opportunities','comp-benefits', 'senior-mgmt', 'overall']
topics = ['work-balance', 'culture-values', 'career-opportunities','comp-benefits', 'senior-mgmt']
df = df[columns]
df

,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall
0,4,5,5,4,5,5
1,2,3,3,5,3,5
2,5,4,5,5,4,5
3,2,5,5,4,5,4
4,5,5,5,5,5,4
...,...,...,...,...,...,...
29267,4,4,5,4,4,4
29268,1,3,5,4,2,2
29269,3,3,3,3,3,3
29270,1,1,1,3,1,1
29271,4,4,4,3,4,4

In [14]:
categories = ['overall', 'work-balance', 'culture-values', 'career-opportunities','comp-benefits', 'senior-mgmt']
df= df.reindex(columns=categories)

In [15]:
topics.index('work-balance')

0

In [ ]:
pos_counts = df[df>=4].count()
neg_counts = df[df<=2].count()
neutral_counts = df[df==3].count()

counts = ['positive', 'negative', 'neutral']

In [ ]:
df_counts = pd.DataFrame([pos_counts, neg_counts, neutral_counts], index=counts)
df_counts

In [ ]:
total_counts = df.shape[0]

In [ ]:
for category in categories:
    df_counts[f'{category}_counts'] = (df_counts[f'{category}']/total_counts)

df_counts

In [ ]:
df_new = pd.DataFrame()
for category in categories:
    df_new[f'{category}'] = df_counts[f'{category}']
df_trans = df_new.transpose()
#df_trans = df_trans.drop(df_trans.index[-1])

In [ ]:
df_trans.negative = (df_trans.negative/df_trans.negative.sum())*100
df_trans.positive = (df_trans.positive/df_trans.positive.sum())*100
df_trans.neutral = (df_trans.neutral/df_trans.neutral.sum())*100
df_trans

In [ ]:
overall_counts = list(df_counts.overall_counts)
max(overall_counts)

index_max = np.argmax(overall_counts)
index_max

In [ ]:
import matplotlib.pyplot as plt

labels = 'positive', 'negative', 'neutral'
sizes = list(df_counts.overall_counts)
#explode = (0, 0.1, 0)  # only "explode" the 2nd slice (i.e. 'Hogs')

fig1, ax1 = plt.subplots()
ax1.pie(sizes, labels=labels, autopct='%1.1f%%',
shadow=True, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
plt.show()
#st.pyplot(fig1)

In [ ]:
import plotly.graph_objects as go

figures = []

for category in categories:
    
    labels = ['positive', 'negative', 'neutral']
    values = list(df_counts[f'{category}'])
    print(values)
    marker = {'colors': [
                     '#e6f2ff',
                     '#99ccff',
                     '#ccccff',
                    ]}
    #print(values)
    index_max = np.argmax(values)
    #print(index_max)
    pull = [0,0,0]
    pull[index_max] = 0.2
    #print(pull)
    fig = go.Figure(data=[go.Pie(labels=labels, values=values, pull=pull, textinfo='label+percent', title=f'{category}', marker = marker)])
    #fig.show()
    figures.append(fig)
    if index_max == 0:
        print('positive')
    elif index_max == 1:
        print('negative')
    else: print('neutral')
    
#figures

In [ ]:
figures[0].show()

In [ ]:
df_trans.negative

In [ ]:
df_trans

In [ ]:
categories

In [ ]:
plt.bar(topics, df_trans.negative)

In [ ]:
df_trans.reset_index(inplace=True)
df_trans.rename(columns = {'index':'review topics','negative':'percentage [%]'}, inplace=True)

In [ ]:
df_trans

In [ ]:
import plotly.express as px

color = '#ff0000'

fig = px.bar(df_trans, x='review topics', y='percentage [%]', title="Negative Reviews")
fig.update_traces(marker_color='rgb(158,202,225)')
fig.show()