In [1]:
%load_ext autoreload
%autoreload 2

# Prepare Data

## Load Datasets

In [2]:
# Get data with our own functions, train & test splits
from WorkforceSentimentMonitoring.data import get_data, merge, holdout

submission, train, test = get_data()

display(submission.head())
display(train.head())
display(test.head())

   ID  overall
0   5        5
1   6        4
2   7        4
3   8        5
4   9        5

,ID,Place,location,date,status,job_title,summary,positives,negatives,advice_to_mgmt,score_1,score_2,score_3,score_4,score_5,score_6,overall
0,1,startup_1,NaN,"Dec 11, 2018",Current Employee,Anonymous Employee,Best Company to work for,People are smart and friendly,Bureaucracy is slowing things down,NaN,4.0,5.0,5.0,4.0,5.0,0,5.0
1,2,startup_1,"Mountain View, CA","Jun 21, 2013",Former Employee,Program Manager,"Moving at the speed of light, burn out is inev...","1) Food, food, food. 15+ cafes on main campus ...",1) Work/life balance. What balance? All those ...,1) Don't dismiss emotional intelligence and ad...,2.0,3.0,3.0,5.0,3.0,2094,5.0
2,3,startup_1,"New York, NY","May 10, 2014",Current Employee,Software Engineer III,Great balance between big-company security and...,"* If you're a software engineer, you're among ...","* It *is* becoming larger, and with it comes g...",Keep the focus on the user. Everything else wi...,5.0,4.0,5.0,5.0,4.0,949,5.0
3,4,startup_1,"Mountain View, CA","Feb 8, 2015",Current Employee,Anonymous Employee,The best place I've worked and also the most d...,You can't find a more well-regarded company th...,I live in SF so the commute can take between 1...,Keep on NOT micromanaging - that is a huge ben...,2.0,5.0,5.0,4.0,5.0,498,4.0
4,10,startup_1,NaN,"Dec 9, 2018",Current Employee,Anonymous Employee,Execellent for engineers,Impact driven. Best tech in the world.,Size matters. Engineers are a bit disconnected...,NaN,5.0,5.0,5.0,5.0,5.0,0,4.0

,ID,Place,location,date,status,job_title,summary,positives,negatives,advice_to_mgmt,score_1,score_2,score_3,score_4,score_5,score_6
0,5,startup_1,"Los Angeles, CA","Jul 19, 2018",Former Employee,Software Engineer,"Unique, one of a kind dream job",Google is a world of its own. At every other c...,"If you don't work in MTV (HQ), you will be giv...",Promote managers into management for their man...,5,5,5,5,5,49
1,6,startup_1,"Mountain View, CA","Dec 9, 2018",Former Employee,SDE2,NICE working in GOOGLE as an INTERN,"People are not that busy, so they are nice to ...",Food is not good as I expected. People said it...,NaN,4,4,4,5,4,1
2,7,startup_1,"New York, NY","Dec 11, 2018",Current Employee,Software Engineer,Software engineer,Great working environment. Good work life balance,Usual big company problems. Hierarchy.,NaN,5,4,4,5,4,0
3,8,startup_1,NaN,"Dec 11, 2018",Former Employee,Anonymous Employee,great place to work and progress,"work culture, benefits, growth, people,",No cons that i can think of,NaN,5,5,5,5,5,0
4,9,startup_1,"New York, NY","Dec 10, 2018",Current Employee,Anonymous Employee,Google Surpasses Realistic Expectations,Great products. Vision you can feel good about...,Younger employees complaining about the compan...,NaN,5,5,5,5,5,0

In [13]:
# merge corresponding dataframes
df = merge(submission, train, test)

In [14]:
df.head()

,summary,positives,negatives,advice_to_mgmt,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall,review
0,Best Company to work for,People are smart and friendly,Bureaucracy is slowing things down,NaN,4,5,5,4,5,5,Best Company to work for People are smart and ...
1,"Moving at the speed of light, burn out is inev...","1) Food, food, food. 15+ cafes on main campus ...",1) Work/life balance. What balance? All those ...,1) Don't dismiss emotional intelligence and ad...,2,3,3,5,3,5,"Moving at the speed of light, burn out is inev..."
2,Great balance between big-company security and...,"* If you're a software engineer, you're among ...","* It *is* becoming larger, and with it comes g...",Keep the focus on the user. Everything else wi...,5,4,5,5,4,5,Great balance between big-company security and...
3,The best place I've worked and also the most d...,You can't find a more well-regarded company th...,I live in SF so the commute can take between 1...,Keep on NOT micromanaging - that is a huge ben...,2,5,5,4,5,4,The best place I've worked and also the most d...
4,Execellent for engineers,Impact driven. Best tech in the world.,Size matters. Engineers are a bit disconnected...,NaN,5,5,5,5,5,4,Execellent for engineers Impact driven. Best t...

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52815 entries, 0 to 29271
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   summary               52734 non-null  object
 1   positives             52815 non-null  object
 2   negatives             52814 non-null  object
 3   advice_to_mgmt        30132 non-null  object
 4   work-balance          52815 non-null  uint8
 5   culture-values        52815 non-null  uint8
 6   career-opportunities  52815 non-null  uint8
 7   comp-benefits         52815 non-null  uint8
 8   senior-mgmt           52815 non-null  uint8
 9   overall               52815 non-null  uint8
 10  review                52815 non-null  object
dtypes: object(5), uint8(6)
memory usage: 2.7+ MB

In [54]:
# small sample of dataframe ==> random 10_000 rows
small_df = df.sample(n=10_000, random_state=1, replace=True)

In [55]:
small_df.head()

,summary,positives,negatives,advice_to_mgmt,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall,review
9204,Terrible Company,Decent pay and health plan.,"Stressful work environment, very high quotas, ...",Stop treating your workers like trash.,1,1,1,2,1,1,Terrible Company Decent pay and health plan. S...
14938,Amazon is great to buy and sell products in th...,its really cool place to work with amazon,itsw great job to work .join with us.,make easy to post products in facebook .,5,5,5,5,5,5,Amazon is great to buy and sell products in th...
6640,Low paymasters,Good quality projects to work on.,Unrealistic deadlines and if you have a bad bo...,Dont bring in people at the wrong pay grade/le...,2,3,3,1,3,3,Low paymasters Good quality projects to work o...
8709,Buying,"Startup Feel, Fun Environment, Great Company","Long hours, Poor Management, Growth",NaN,2,3,3,3,2,2,"Buying Startup Feel, Fun Environment, Great Co..."
26452,Ok,"Smart people, good compensation, the opportuni...",A lack of good communication between the diffe...,NaN,3,3,4,5,3,3,"Ok Smart people, good compensation, the opport..."

In [56]:
# rest index to ordinal
small_df = small_df.reset_index(drop=True)

In [57]:
small_df.head()

,summary,positives,negatives,advice_to_mgmt,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall,review
0,Terrible Company,Decent pay and health plan.,"Stressful work environment, very high quotas, ...",Stop treating your workers like trash.,1,1,1,2,1,1,Terrible Company Decent pay and health plan. S...
1,Amazon is great to buy and sell products in th...,its really cool place to work with amazon,itsw great job to work .join with us.,make easy to post products in facebook .,5,5,5,5,5,5,Amazon is great to buy and sell products in th...
2,Low paymasters,Good quality projects to work on.,Unrealistic deadlines and if you have a bad bo...,Dont bring in people at the wrong pay grade/le...,2,3,3,1,3,3,Low paymasters Good quality projects to work o...
3,Buying,"Startup Feel, Fun Environment, Great Company","Long hours, Poor Management, Growth",NaN,2,3,3,3,2,2,"Buying Startup Feel, Fun Environment, Great Co..."
4,Ok,"Smart people, good compensation, the opportuni...",A lack of good communication between the diffe...,NaN,3,3,4,5,3,3,"Ok Smart people, good compensation, the opport..."

## Prepare Features & Targets

### Prepare Feature columns

In [58]:
# preprocess text cols
text_columns = small_df.select_dtypes('object').columns
# dataframe of text columns
text_df = small_df[text_columns]
text_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary         9992 non-null   object
 1   positives       10000 non-null  object
 2   negatives       10000 non-null  object
 3   advice_to_mgmt  5709 non-null   object
 4   review          10000 non-null  object
dtypes: object(5)
memory usage: 390.8+ KB

In [59]:
from WorkforceSentimentMonitoring.preprocessing import preprocessing

In [60]:
text_df = text_df.astype('U').applymap(preprocessing)

In [61]:
# sample of preprocessed text columns
small_df[text_df.columns] = text_df
small_df.head()

,summary,positives,negatives,advice_to_mgmt,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall,review
0,terrible company,decent pay health plan,stressful work environment high quota worker s...,stop treating worker like trash,1,1,1,2,1,1,terrible company decent pay health plan stress...
1,amazon great buy sell product world,really cool place work amazon,itsw great job work join u,make easy post product facebook,5,5,5,5,5,5,amazon great buy sell product world really coo...
2,low paymaster,good quality project work,unrealistic deadline bad bos life tough,dont bring people wrong pay grade level lookin...,2,3,3,1,3,3,low paymaster good quality project work unreal...
3,buying,startup feel fun environment great company,long hour poor management growth,nan,2,3,3,3,2,2,buying startup feel fun environment great comp...
4,ok,smart people good compensation opportunity wor...,lack good communication different business org...,nan,3,3,4,5,3,3,ok smart people good compensation opportunity ...

In [62]:
# get lengths features
small_df = get_lengths(small_df)

In [65]:
small_df.head()

,summary,positives,negatives,advice_to_mgmt,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall,review,summary_length,postives_length,negatives_length,advice_length,combined_length
0,terrible company,decent pay health plan,stressful work environment high quota worker s...,stop treating worker like trash,1,1,1,2,1,1,terrible company decent pay health plan stress...,16,22,60,31,132
1,amazon great buy sell product world,really cool place work amazon,itsw great job work join u,make easy post product facebook,5,5,5,5,5,5,amazon great buy sell product world really coo...,35,29,26,31,124
2,low paymaster,good quality project work,unrealistic deadline bad bos life tough,dont bring people wrong pay grade level lookin...,2,3,3,1,3,3,low paymaster good quality project work unreal...,13,25,39,71,151
3,buying,startup feel fun environment great company,long hour poor management growth,nan,2,3,3,3,2,2,buying startup feel fun environment great comp...,6,42,32,3,86
4,ok,smart people good compensation opportunity wor...,lack good communication different business org...,nan,3,3,4,5,3,3,ok smart people good compensation opportunity ...,2,76,55,3,139

In [77]:
small_df = small_df[['summary', 'positives', 'negatives', 'advice_to_mgmt', 'review', 'work-balance','culture-values', 'career-opportunities', 'comp-benefits', 'senior-mgmt', 'overall', 'summary_length', 'postives_length', 'negatives_length', 'advice_length', 'combined_length']]
small_df.head()

,summary,positives,negatives,advice_to_mgmt,review,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall,summary_length,postives_length,negatives_length,advice_length,combined_length
0,terrible company,decent pay health plan,stressful work environment high quota worker s...,stop treating worker like trash,terrible company decent pay health plan stress...,1,1,1,2,1,1,16,22,60,31,132
1,amazon great buy sell product world,really cool place work amazon,itsw great job work join u,make easy post product facebook,amazon great buy sell product world really coo...,5,5,5,5,5,5,35,29,26,31,124
2,low paymaster,good quality project work,unrealistic deadline bad bos life tough,dont bring people wrong pay grade level lookin...,low paymaster good quality project work unreal...,2,3,3,1,3,3,13,25,39,71,151
3,buying,startup feel fun environment great company,long hour poor management growth,nan,buying startup feel fun environment great comp...,2,3,3,3,2,2,6,42,32,3,86
4,ok,smart people good compensation opportunity wor...,lack good communication different business org...,nan,ok smart people good compensation opportunity ...,3,3,4,5,3,3,2,76,55,3,139

In [78]:
print(SCORE_COLS)

['work-balance', 'culture-values', 'career-opportunities', 'comp-benefits', 'senior-mgmt', 'overall']

In [69]:
df = small_df.copy()

In [74]:
df.head()

,summary,positives,negatives,advice_to_mgmt,review,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall,summary_length,postives_length,negatives_length,advice_length,combined_length
0,terrible company,decent pay health plan,stressful work environment high quota worker s...,stop treating worker like trash,terrible company decent pay health plan stress...,1,1,1,2,1,1,16,22,60,31,132
1,amazon great buy sell product world,really cool place work amazon,itsw great job work join u,make easy post product facebook,amazon great buy sell product world really coo...,5,5,5,5,5,5,35,29,26,31,124
2,low paymaster,good quality project work,unrealistic deadline bad bos life tough,dont bring people wrong pay grade level lookin...,low paymaster good quality project work unreal...,2,3,3,1,3,3,13,25,39,71,151
3,buying,startup feel fun environment great company,long hour poor management growth,nan,buying startup feel fun environment great comp...,2,3,3,3,2,2,6,42,32,3,86
4,ok,smart people good compensation opportunity wor...,lack good communication different business org...,nan,ok smart people good compensation opportunity ...,3,3,4,5,3,3,2,76,55,3,139

In [81]:
# import temporary feature engineering packages
from WorkforceSentimentMonitoring.trainer import Trainer, FEATURE_COLS, SCORE_COLS, feature_engineer, getSubjectivity, getPolarity, feature_sentiment, get_lengths, scaler, linear_feature

In [82]:
small_X_train, small_X_val, small_y_train, small_y_val = holdout(df, SCORE_COLS)

KeyError: "['work-balance', 'culture-values', 'career-opportunities', 'comp-benefits', 'senior-mgmt', 'overall']"

In [42]:
small_df = feature_engineer(small_df)

In [43]:
small_df = feature_sentiment(small_df)

In [44]:
small_df

,summary,positives,negatives,advice_to_mgmt,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,overall,...,subjectivity_summary,polarity_summary,subjectivity_positives,polarity_positives,subjectivity_negatives,polarity_negatives,subjectivity_advice_to_mgmt,polarity_advice_to_mgmt,subjectivity_review,polarity_review
12,great place work,people awesome lot perk reduce administrative ...,sometimes wide variety thing work,nan,4,5,5,5,5,3,...,0.750000,0.800000,0.716667,0.566667,0.400000,-0.100000,0.0,0.000000,0.660000,0.480000
18,hard beat,amazing compensation benefit hard beat seattle...,growing pain google gone k k fte tenure proces...,nan,4,4,5,5,3,4,...,0.541667,-0.291667,0.738333,0.061667,0.250000,0.250000,0.0,0.000000,0.591667,0.064583
19,great place work,ambitious mission great colleague supportive a...,everyone eager succeed lead pretty competitive...,nan,5,3,5,4,5,4,...,0.750000,0.800000,0.833333,0.516667,1.000000,0.250000,0.0,0.000000,0.850000,0.520000
19,great perk bad work life balance,google perk great free food shuttle work sto...,zero work life balance work minimum hour per w...,restructure performance review feedback sent a...,2,3,5,5,3,3,...,0.708333,0.050000,0.546032,0.344048,0.725000,-0.037500,0.6,-0.133333,0.626190,0.107619
19,great place work,ambitious mission great colleague supportive a...,everyone eager succeed lead pretty competitive...,nan,5,3,5,4,5,4,...,0.750000,0.800000,0.833333,0.516667,1.000000,0.250000,0.0,0.000000,0.850000,0.520000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30056,great company work,challenge balance work life m,environment techie love work,nan,3,5,4,4,5,3,...,0.750000,0.800000,0.000000,0.000000,0.600000,0.500000,0.0,0.000000,0.675000,0.650000
30057,superb experience learning open environment re...,value great vision lovely work place class ben...,internal orgs growth opportunity within compan...,nan,3,5,4,4,4,4,...,0.633333,0.333333,0.750000,0.700000,0.000000,0.000000,0.0,0.000000,0.592857,0.442857
30058,good job,hour controlled easy job fun place work lot mo...,boring product much bureaucracy many manageria...,spice product management make faster decision,3,3,3,3,3,4,...,0.600000,0.700000,0.516667,0.366667,0.566667,-0.100000,0.0,0.000000,0.555556,0.188889
30075,look back microsoft,get great team blast given lot responsibility ...,decision making brutal adage take people appro...,go back nimble team gm owns dev test pgm,4,4,3,2,2,4,...,0.000000,0.000000,0.590000,0.460000,0.490909,-0.062879,0.0,0.000000,0.463889,0.089352
30079,good place work,smart coworkers see product news still change ...,lot meeting engineer bureaucratic,please let u le meeting,2,5,4,5,3,4,...,0.600000,0.700000,0.642857,0.214286,0.000000,0.000000,0.0,0.000000,0.621429,0.457143

In [21]:
small_df

,index,summary,positives,negatives,advice_to_mgmt,work-balance,culture-values,career-opportunities,comp-benefits,senior-mgmt,...,polarity_negatives,subjectivity_advice_to_mgmt,polarity_advice_to_mgmt,subjectivity_review,polarity_review,summary_length,postives_length,negatives_length,advice_length,combined_length
0,9204,terrible company,decent pay health plan,stressful work environment high quota worker s...,stop treating worker like trash,1,1,1,2,1,...,0.160000,0.000000,0.000000,0.735556,-0.224444,0.158416,0.008532,0.010562,0.016622,0.016487
1,14938,amazon great buy sell product world,really cool place work amazon,itsw great job work join u,make easy post product facebook,5,5,5,5,5,...,0.800000,0.833333,0.433333,0.745833,0.595833,0.346535,0.011675,0.004577,0.016622,0.015254
2,6640,low paymaster,good quality project work,unrealistic deadline bad bos life tough,dont bring people wrong pay grade level lookin...,2,3,3,1,3,...,-0.529630,0.900000,-0.500000,0.716667,-0.231481,0.128713,0.009879,0.006865,0.038070,0.019414
3,8709,buying,startup feel fun environment great company,long hour poor management growth,nan,2,3,3,3,2,...,-0.225000,0.000000,0.000000,0.487500,0.162500,0.059406,0.017512,0.005633,0.001609,0.009399
4,26452,ok,smart people good compensation opportunity wor...,lack good communication different business org...,nan,3,3,4,5,3,...,0.350000,0.000000,0.000000,0.588571,0.422857,0.019802,0.032780,0.009681,0.001609,0.017565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,7534,customer support associate,good work culture chance socialize well team d...,much salary need work nightshifts time,nan,3,5,4,4,5,...,0.200000,0.000000,0.000000,0.400000,0.450000,0.257426,0.023350,0.006689,0.001609,0.015408
9996,27008,delivery,great talent still around brings opportunity l...,toxic political culture top empowerment nepoti...,reward merit friend replace true professional ...,1,1,1,2,3,...,0.408333,0.375000,0.225000,0.520000,0.450000,0.079208,0.029636,0.038550,0.065952,0.061171
9997,783,wow,great place environment work,move away home work,nan,5,5,4,5,4,...,0.000000,0.000000,0.000000,0.875000,0.450000,0.029703,0.011226,0.003344,0.001609,0.004777
9998,27904,good start career,good compensation compared industry standard n...,night shift screw health work life balance off...,get good well skilled manager,3,3,3,5,2,...,0.100000,0.550000,0.600000,0.614167,0.350833,0.168317,0.069151,0.020243,0.015550,0.045609
9999,13924,sde,great place work good perk learn new thing eve...,little high workload call peak hour,trust employee little,3,5,5,5,5,...,-0.013750,0.500000,-0.187500,0.569629,0.233664,0.029703,0.032780,0.006161,0.011260,0.017411

In [18]:
X = scaler(small_df)

In [20]:
X

,review,summary_work-balance,summary_culture-values,summary_career-opportunities,summary_comp-benefits,summary_senior-mgmt,summary_overall,positives_work-balance,positives_culture-values,positives_career-opportunities,...,polarity_negatives,subjectivity_advice_to_mgmt,polarity_advice_to_mgmt,subjectivity_review,polarity_review,summary_length,postives_length,negatives_length,advice_length,combined_length
0,terrible company decent pay health plan stress...,3,4,3,3,1,3,3,5,3,...,0.160000,0.000000,0.000000,0.735556,-0.224444,0.158416,0.008532,0.010562,0.016622,0.016487
1,amazon great buy sell product world really coo...,5,5,5,5,5,4,4,5,5,...,0.800000,0.833333,0.433333,0.745833,0.595833,0.346535,0.011675,0.004577,0.016622,0.015254
2,low paymaster good quality project work unreal...,2,3,3,5,3,3,4,5,4,...,-0.529630,0.900000,-0.500000,0.716667,-0.231481,0.128713,0.009879,0.006865,0.038070,0.019414
3,buying startup feel fun environment great comp...,2,3,3,3,2,2,4,5,5,...,-0.225000,0.000000,0.000000,0.487500,0.162500,0.059406,0.017512,0.005633,0.001609,0.009399
4,ok smart people good compensation opportunity ...,3,3,3,4,3,3,4,5,4,...,0.350000,0.000000,0.000000,0.588571,0.422857,0.019802,0.032780,0.009681,0.001609,0.017565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,customer support associate good work culture c...,3,5,3,4,3,3,4,5,4,...,0.200000,0.000000,0.000000,0.400000,0.450000,0.257426,0.023350,0.006689,0.001609,0.015408
9996,delivery great talent still around brings oppo...,5,5,5,4,3,3,4,5,4,...,0.408333,0.375000,0.225000,0.520000,0.450000,0.079208,0.029636,0.038550,0.065952,0.061171
9997,wow great place environment work move away hom...,3,5,4,4,3,4,5,5,5,...,0.000000,0.000000,0.000000,0.875000,0.450000,0.029703,0.011226,0.003344,0.001609,0.004777
9998,good start career good compensation compared i...,4,5,4,4,4,4,3,5,5,...,0.100000,0.550000,0.600000,0.614167,0.350833,0.168317,0.069151,0.020243,0.015550,0.045609
9999,sde great place work good perk learn new thing...,5,5,4,4,3,3,4,5,5,...,-0.013750,0.500000,-0.187500,0.569629,0.233664,0.029703,0.032780,0.006161,0.011260,0.017411

In [19]:
X = linear_feature(X, small_df)

ValueError: could not convert string to float: 'terrible company decent pay health plan stressful work environment high quota worker seen expendable stop treating worker like trash'

### Prepare Target columns

In [ ]:
# score_cols = ['work-balance', 'culture-values', 'career-opportunities', 'comp-benefits', 'senior-mgmt', 'overall']