# Data Inspect

In [1]:
%load_ext autoreload
%autoreload 2

In [26]:
import os
os_path = os.getcwd()
#os_path.split('/')[:-1]
os_path_abs = '/'.join(os_path.split('/')[:-1])

In [27]:
csv_path = os.path.join(os_path_abs,'raw_data')
csv_path

'/Users/yunxizzy/code/theresa-sporn/WorkforceSentimentMonitoring/raw_data'

In [28]:
import pandas as pd

In [29]:
#df = pd.read_csv("/Users/yunxizzy/code/theresa-sporn/WorkforceSentimentMonitoring/raw_data/train.csv")
df = pd.read_csv(os.path.join(csv_path, 'train.csv'))
df.head()

,ID,Place,location,date,status,job_title,summary,positives,negatives,advice_to_mgmt,score_1,score_2,score_3,score_4,score_5,score_6,overall
0,1,startup_1,NaN,"Dec 11, 2018",Current Employee,Anonymous Employee,Best Company to work for,People are smart and friendly,Bureaucracy is slowing things down,NaN,4.0,5.0,5.0,4.0,5.0,0,5.0
1,2,startup_1,"Mountain View, CA","Jun 21, 2013",Former Employee,Program Manager,"Moving at the speed of light, burn out is inev...","1) Food, food, food. 15+ cafes on main campus ...",1) Work/life balance. What balance? All those ...,1) Don't dismiss emotional intelligence and ad...,2.0,3.0,3.0,5.0,3.0,2094,5.0
2,3,startup_1,"New York, NY","May 10, 2014",Current Employee,Software Engineer III,Great balance between big-company security and...,"* If you're a software engineer, you're among ...","* It *is* becoming larger, and with it comes g...",Keep the focus on the user. Everything else wi...,5.0,4.0,5.0,5.0,4.0,949,5.0
3,4,startup_1,"Mountain View, CA","Feb 8, 2015",Current Employee,Anonymous Employee,The best place I've worked and also the most d...,You can't find a more well-regarded company th...,I live in SF so the commute can take between 1...,Keep on NOT micromanaging - that is a huge ben...,2.0,5.0,5.0,4.0,5.0,498,4.0
4,10,startup_1,NaN,"Dec 9, 2018",Current Employee,Anonymous Employee,Execellent for engineers,Impact driven. Best tech in the world.,Size matters. Engineers are a bit disconnected...,NaN,5.0,5.0,5.0,5.0,5.0,0,4.0

# Function Implement

## extract nagative

In [46]:
def extract_negative(df):
    """return df with negative reviews and their labels"""
    df = df[['negatives']]
    df.loc[:,'sentiment'] = 0 # 0=> negative
    return df

In [47]:
df_neg = extract_negative(df)

/Users/yunxizzy/.pyenv/versions/3.7.7/envs/workforce/lib/python3.7/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/yunxizzy/.pyenv/versions/3.7.7/envs/workforce/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [48]:
df_neg.head()

                                           negatives  sentiment
0                 Bureaucracy is slowing things down          0
1  1) Work/life balance. What balance? All those ...          0
2  * It *is* becoming larger, and with it comes g...          0
3  I live in SF so the commute can take between 1...          0
4  Size matters. Engineers are a bit disconnected...          0

## extract positive

In [51]:
def extract_positive(df):
    """return df with positive reviews and their labels"""
    df = df[['positives']]
    df.loc[:,'sentiment'] = 1 # 1=> positive
    return df

In [52]:
df_pos = extract_positive(df)

/Users/yunxizzy/.pyenv/versions/3.7.7/envs/workforce/lib/python3.7/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/yunxizzy/.pyenv/versions/3.7.7/envs/workforce/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [53]:
df_pos.head()

                                           positives  sentiment
0                      People are smart and friendly          1
1  1) Food, food, food. 15+ cafes on main campus ...          1
2  * If you're a software engineer, you're among ...          1
3  You can't find a more well-regarded company th...          1
4             Impact driven. Best tech in the world.          1